@import url('reset.css');

/* General Codrops Demo Style */
body{
	background:#1F1F1F url(../images/pattern.jpg) no-repeat center top;
	color:#fff;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size:14px;
    background-attachment: fixed;
}



.content{
	margin:auto;
    width: 480px;
}

.ddd{
    width: 150px;
    height: 80px;
}